
@model EpSMS9.Models.Pages.StartPage


<!-- main_banner-->
<section class="main_banner">
    @if (!ContentReference.IsNullOrEmpty(Model.BannerImage))
    {
        <img src="@Url.ContentUrl(Model.BannerImage)"  class="main-img"/>
    }
    @*<img src="Static/images/banner_img.jpg" class="main-img">*@
    <div class="container">
        <div class="content_box">
            <h1 class="title_strip">@Html.PropertyFor(x => x.Heading)</h1>
            <h4> @Html.PropertyFor(x => x.SubHeading)</h4>
        </div> <!--content_box-->
    </div>
</section><!-- main_banner-->
<section class="posts_sec sec_pad">
    @Html.PropertyFor(x => x.MainBody)
    @*<div class="container">
            <div class="post_block">
                <div class="post_head">

                    <h1> <a href="post-detail.html">leverage agile frameworks    </a></h1>

                    <!-- <h4>Bring to the table win-win survival strategies to ensure proactive domination.</h4> -->

                </div><!--post_head-->
                <div class="post_desc">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>

                </div>
                <!--post_desc-->
                <div class="post_footer">
                    <p> posted by <a href="#">Jon Price</a> on september 24,2018</p>
                </div>
            </div><!--post_block-->
            <div class="post_block">
                <div class="post_head">
                    <h1>  <a href="#">Capitalize on low hanging fruits to identify a ballpark value added activity to beta test</a></h1>
                    <!-- <h4>Bring to the table win-win survival strategies to ensure proactive domination.</h4> -->

                </div><!--post_head-->
                <div class="post_desc">
                </div>
                <!--post_desc-->
                <div class="post_footer">
                    <p> posted by <a href="#">Jon Price</a> on september 24,2018</p>
                </div>
            </div><!--post_block-->
            <div class="post_block">
                <div class="post_head">
                    <h1><a href="#">collaboratively administrate empowered markets via plug-and-play networks</a></h1>
                    <!-- <h4>Bring to the table win-win survival strategies to ensure proactive domination.</h4> -->

                </div><!--post_head-->
                <div class="post_desc">
                    <p>Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed covergence without revolutionary</p>

                </div>
                <!--post_desc-->
                <div class="post_footer">
                    <p> posted by <a href="#">Jon Price</a> on september 24,2018</p>
                </div>
            </div><!--post_block-->

            <div class="btn_box">
                <a class="button" href="#">Older posts <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div><!--btn_box-->
        </div>*@<!--container-->
</section>