* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0px;
    padding: 0px
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif
}

body {
    font-size: 16px;
    font-family: 'Vollkorn', serif
}

a, a:hover, a:active {
    text-decoration: none;
    color: inherit
}

.err_msg {
    color: red;
    margin-top: 8px;
    padding-left: 12px
}

.button, .fict_btn {
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    border: 1px solid #cccccc96;
    height: 50px;
    padding: 0px 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.7px;
    display: inline-block;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    line-height: 48px
}

    .button i, .fict_btn i {
        margin-left: 8px;
        font-weight: 100
    }

    .button:focus, .button:hover, .fict_btn:focus, .fict_btn:hover {
        background: #000;
        border-color: #000;
        color: #fff;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none
    }

.main_header {
    position: fixed;
    width: 100%;
    padding: 0px 15px;
    height: 60px;
    z-index: 9999;
    -webkit-transition: all 0.5s;
    transition: all 0.5s
}

    .main_header .header_inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

        .main_header .header_inner .toggle_box {
            display: none
        }

        .main_header .header_inner .logo_side {
            width: 30%
        }

            .main_header .header_inner .logo_side h2 {
                color: #fff;
                font-size: 1.3em;
                line-height: 56px;
                font-weight: 700
            }

        .main_header .header_inner .main_nav {
            width: 70%
        }

            .main_header .header_inner .main_nav nav {
                text-align: right
            }

                .main_header .header_inner .main_nav nav ul li {
                    display: inline-block;
                    margin-left: 30px
                }

                    .main_header .header_inner .main_nav nav ul li a {
                        color: #fff;
                        font-weight: 700;
                        font-size: 14px;
                        -webkit-transition: all 0.5s;
                        transition: all 0.5s;
                        line-height: 60px;
                        text-transform: uppercase;
                        font-family: 'Open Sans', sans-serif
                    }

                        .main_header .header_inner .main_nav nav ul li a:hover {
                            opacity: 0.6
                        }

    .main_header.d_sticky {
        background: #f1f0ee
    }

        .main_header.d_sticky .logo_side h2 {
            color: #000
        }

        .main_header.d_sticky .main_nav nav ul li a {
            color: #000
        }

.main_banner {
    background-size: cover;
    height: 550px;
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 1
}

    .main_banner .container {
        /* position: relative; */
        height: 100%
    }

    .main_banner:before {
        content: "";
        background: rgba(0,0,0,0.5);
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: -1
    }

    .main_banner .content_box {
        position: absolute;
        top: 50%;
        left: 15px;
        right: 15px;
        -webkit-transform: translatey(-50%);
        transform: translatey(-50%)
    }

    .main_banner h1 {
        font-weight: 800;
        font-size: 5em
    }

        .main_banner h1.title_strip {
            position: relative;
            margin-bottom: 40px
        }

            .main_banner h1.title_strip:before {
                content: "";
                position: absolute;
                width: 100px;
                height: 4px;
                background: #fff;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                bottom: -20px
            }

    .main_banner h4 {
        font-weight: 100;
        font-size: 1.6em
    }

        .main_banner h4::first-letter {
            text-transform: capitalize
        }

.posts_sec .post_block {
    border-bottom: 1px solid #cccccc61;
    padding-bottom: 30px;
    margin-bottom: 30px
}

    .posts_sec .post_block .post_head {
        margin-bottom: 15px
    }

        .posts_sec .post_block .post_head h1 {
            font-size: 2.4em;
            font-weight: 800;
            color: #333
        }

            .posts_sec .post_block .post_head h1::first-letter {
                text-transform: uppercase
            }

        .posts_sec .post_block .post_head h4 {
            font-weight: 100;
            font-size: 1.6em;
            margin-bottom: 15px
        }

        .posts_sec .post_block .post_head p {
            color: #ccc;
            font-size: 1.2em
        }

    .posts_sec .post_block .post_desc {
        margin-bottom: 10px
    }

        .posts_sec .post_block .post_desc p {
            color: #777
        }

    .posts_sec .post_block .post_footer p {
        color: #9a9a9a;
        font-size: 0.9em
    }

        .posts_sec .post_block .post_footer p a {
            color: #444
        }

        .posts_sec .post_block .post_footer p::first-letter {
            text-transform: uppercase
        }

.posts_sec .btn_box {
    text-align: right;
    font-family: 'Open Sans', sans-serif
}

.main_footer {
    padding: 0px 15px
}

    .main_footer .footer_inner {
        padding: 70px 0px;
        border-top: 1px solid #cccccc61
    }

    .main_footer .social_links ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

        .main_footer .social_links ul li {
            list-style: none;
            margin-right: 25px
        }

            .main_footer .social_links ul li:last-of-type {
                margin-right: 0px
            }

            .main_footer .social_links ul li a {
                display: inline-block;
                height: 48px;
                width: 48px;
                border-radius: 100%;
                background: #333;
                text-align: center;
                line-height: 52px;
                color: #fff;
                font-size: 1.5em;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                border: 1px solid #333
            }

                .main_footer .social_links ul li a:hover {
                    background: #fff;
                    color: #333
                }

    .main_footer .co_text {
        margin-top: 25px
    }

        .main_footer .co_text p {
            color: #9a9a9a;
            text-transform: capitalize;
            font-size: 15px
        }

.sec_pad {
    padding: 60px 0px
}

.main_banner.post_banner {
    background: url(../images/astro_img.jpg) no-repeat center;
    height: 700px;
    background-size: cover;
    text-align: left
}

    .main_banner.post_banner h1 {
        font-size: 3em;
        margin-bottom: 10px
    }

        .main_banner.post_banner h1:first-letter {
            text-transform: uppercase
        }

    .main_banner.post_banner h4 {
        font-weight: 600;
        font-size: 2em;
        margin-bottom: 20px
    }

    .main_banner.post_banner p {
        font-size: 1.2em
    }

.post_desc_sec p {
    margin-bottom: 20px;
    color: #4a4949;
    line-height: 28px
}

    .post_desc_sec p:last-of-type {
        margin-bottom: 0px
    }

.post_desc_sec h2 {
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 39px;
    color: #333;
    text-transform: capitalize
}

.post_desc_sec figure {
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 0px
}

    .post_desc_sec figure img {
        width: 100%
    }

    .post_desc_sec figure figcaption {
        text-align: center;
        margin-top: 10px;
        font-size: 14px;
        color: #9a9a9a
    }

        .post_desc_sec figure figcaption::first-letter {
            text-transform: uppercase
        }

.post_desc_sec .quotes {
    border-left: 5px solid #cccccc59;
    padding: 8px 20px;
    margin-bottom: 20px
}

    .post_desc_sec .quotes p {
        font-size: 15px;
        line-height: 25px;
        color: #9a9a9a
    }

.about_desc p {
    color: #4a4949
}

    .about_desc p + p {
        margin-top: 20px
    }

.form_sec .form_head p {
    margin-bottom: 20px;
    color: #4a4949;
    line-height: 28px
}

.form_sec .contact_form .form-control {
    border: 0;
    border-bottom: 1px solid #cccccc61;
    border-radius: 0px;
    height: 50px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 50px
}

.form_sec .contact_form textarea.form-control {
    height: auto;
    resize: none
}

.form_sec .contact_form ::-webkit-input-placeholder {
    color: #9a9a9a
}

.form_sec .contact_form :-ms-input-placeholder {
    color: #9a9a9a
}

.form_sec .contact_form ::-moz-placeholder {
    color: #9a9a9a
}

.form_sec .contact_form ::-ms-input-placeholder {
    color: #9a9a9a
}

.form_sec .contact_form ::placeholder {
    color: #9a9a9a
}

@media (max-width: 991px) {
    .main_banner {
        height: 500px
    }
}

@media (max-width: 767px) {
    body {
        padding-top: 60px
    }

    .main_header {
        top: 0px;
        padding: 0px;
        background: #f1f0ee
    }

        .main_header .header_inner .logo_side {
            width: 70%
        }

            .main_header .header_inner .logo_side h2 {
                color: #636363
            }

        .main_header .header_inner .main_nav {
            display: none;
            border-top: 1px solid #ccc;
            position: absolute;
            background: #f1f0ee;
            width: 100%;
            top: 60px;
            left: 0px
        }

            .main_header .header_inner .main_nav nav {
                padding: 20px 0px
            }

                .main_header .header_inner .main_nav nav ul li {
                    margin: 0px;
                    text-align: left;
                    display: block;
                    margin-bottom: 20px
                }

                    .main_header .header_inner .main_nav nav ul li:last-of-type {
                        margin-bottom: 0px
                    }

                    .main_header .header_inner .main_nav nav ul li a {
                        line-height: initial;
                        color: #636363;
                        padding: 0px 15px
                    }

        .main_header .header_inner .toggle_box {
            display: block;
            width: 30%;
            text-align: right;
            margin-top: 10px
        }

            .main_header .header_inner .toggle_box button {
                height: 40px;
                border: none;
                border-radius: 5px;
                padding: 0px 10px;
                background: #dadada;
                line-height: 40px;
                font-family: 'Open Sans', sans-serif;
                font-size: 15px;
                font-weight: 700;
                cursor: pointer;
                color: #636363
            }

                .main_header .header_inner .toggle_box button:focus, .main_header .header_inner .toggle_box button:hover {
                    outline: none
                }

    .main_banner {
        height: 380px
    }
}

@media (max-width: 575px) {
    .main_header .header_inner .logo_side h2 {
        font-size: 1.25em;
        line-height: 60px
    }

    .main_banner h1 {
        font-size: 4.2em
    }

    .main_banner h4 {
        font-size: 1.3em
    }

    .main_footer .footer_inner {
        padding: 50px 0px
    }

    .main_banner.post_banner h1 {
        font-size: 2.8em
    }
}

@media (max-width: 424px) {
    .main_banner {
        height: 300px
    }

    .posts_sec .post_block .post_head h1 {
        font-size: 2em
    }

    .main_banner.post_banner h1 {
        font-size: 2.4em
    }

    .main_banner.post_banner h4 {
        font-size: 1.6em
    }

    .sec_pad {
        padding: 40px 0px
    }

    .post_desc_sec {
        margin-bottom: 15px
    }

        .post_desc_sec figure {
            padding-top: 5px;
            padding-bottom: 20px
        }

    .about_desc p + p {
        margin-top: 15px
    }

    .main_banner h1 {
        font-size: 3.2em
    }
}

.main-img {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background-blend-mode: overlay;
}
